spring:
  datasource:
    url: jdbc:h2:mem:campustrade_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update   # Geliştirme için uygun
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  liquibase:
    enabled: false   # H2 ile genelde dev aşamasında kapatılır

server:
  port: 8080

logging:
  level:
    root: INFO
    com.marvin.campustrade: DEBUG
